{{> head}}
{{> navBar}}

<div class = "row">
    <div class = "col-8">
        <h1> About me</h1>
    </div>
    <div class = "col-4">
       <img src="assets/img/me.jpg" class="img-thumbnail"> 
    </div>
</div>
{{> footer}}
